<!DOCTYPE html>
<html>
<head>
	<title>Wasfa</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
	<link href="https://fonts.googleapis.com/css?family=Eagle+Lake|Caveat|Josefin+Sans" rel="stylesheet">
	
</head>
<body>
	<!-- header -->

	<div class="container profile">
		<header>
			<div class="row" id="first-r">
				<div class="col-xs-12">
					<i class="fa fa-cog" aria-hidden="true" id="gear"></i>
					<span>Account Settings</span>
				</div>
			</div>
			<div class="row">
				<%= form_for(current_user) do |f| %>
				<%= f.label :username %>
				<%= f.text_field :username, {:readonly=> true} %>
				<%= f.submit "update" %>
				<% end %>
				<i class="fa fa-pencil edit-username" aria-hidden="true"></i>
			</div>
			<div class="row">
				<%= form_for(current_user) do |f| %>
				<%= f.label :email %>
				<%= f.text_field :email, {:readonly=> true} %>
				<%= f.submit "update" %>
				<% end %>
				<i class="fa fa-pencil edit-email" aria-hidden="true"></i>
			</div>
			<div class="row">
				<%= form_for(current_user) do |f| %>
				<%= f.label :profile_img, "Profile Picture" %>
				<%= f.file_field :profile_img %>
				<%= f.submit "update" %>
				<% end %>
			</div>
		</div>
	</header>
</div>
<%= javascript_include_tag 'users' %>
</body>
</html>
