<div class="recipe-container">
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<%= image_tag("/uploads/#{@recipe.image}") %>
			</div>
			<div class = "row" id="recipe-interact">
				<div class="col-xs-12">
					<%= form_for @recipe, remote: true do |f| %>
					<%= f.submit %>
					<% end %>
					<i class="fa fa-thumbs-o-up" id="like-btn" aria-hidden="true"></i>
					<span id="likes-div">
						<%= @recipe.numof_likes %>
					</span> people like this
				</div>

				<% if current_user %>
				<!-- don't show comments when user ins't signedin -->
				<div class="row">
					<div class="col-xs-2" id="curren-user-name">
						<span><%= current_user.username %></span>
					</div>
					<div class="col-xs-10" id="newcomm-frm">
						<%= form_for([@recipe,@recipe.comments.build], remote: true) do |f| %>
						<%= f.text_field :content, :placeholder=> "write a comment"%>
						<%= f.hidden_field :food_recipe_id, :value => @recipe.id %>
						<%= f.hidden_field :user_id, :value => current_user.id %>
						<%= f.submit "post" %>
						<% end %>
					</div>
				</div>
				<% end %>
			</div>
			<div class="row">
				<h4><%= @recipe.numof_comments %> Comments</h4>
			</div>
			<div class="row" id="recipe-comments">
				<% @recipe.comments.each do |comment| %>
				<% if comment.id %>
				<p id="<%= comment.id %>">
					<span id="img-user"><%= image_tag('profile.png') %></span>
					<%= comment.content %>
					<% if comment.user_id == current_user.try(:id) %>
					<a href="/food_recipes/<% @recipe.id %>/comments/<%comment.id %>/edit" data-remote="true">Edit</a>
					<a href="/food_recipes/<%= @recipe.id %>/comments/<%= comment.id %>" data-method="delete" data-remote="true">Delete</a>
				</p>
					<% end %>
				<% end %> <!-- if comment.id -->
				<% end %> <!-- do block -->
			</div>
		</div>
		<div class="col-sm-6">
			<h1><%= @recipe.name %></h1>
			<span><%= @recipe.origin %> <%= @recipe.category_name %></span>
			<p>Enough for: <%= @recipe.number_of_persons %></p>
			<p>Time required for preparation: <%= @recipe.preparation_time %></p>
			<p>Description: <%= @recipe.description %></p>
			<h3>Ingredients:</h3><p><%= @recipe.ingredients %></p>
			<h3>Directions:</h3><p><%= @recipe.method %></p>
		</div>
	</div>
</div>



