<div class="container wrapper">
	<div id="title">
		<span>RECIPE / FORMS</span>
		<%= image_tag('interface.png') %>
	</div>
	<div id="form-wrapper">
		<%= form_for([:admin, @recipe]) do |f|%>
		<%= f.text_field :name, placeholder:"Name" %>
		<%= f.text_field :origin, placeholder:"Origin" %>
		<%= f.collection_select :category_id, Category.all, :id, :name %>
		<%= f.text_field :preparation_time, placeholder:"Preparation_time" %>
		<%= f.text_field :description, placeholder:"Description" %>
		<%= f.text_field :method, placeholder:"Method" %>
		<%= f.text_field :number_of_persons, placeholder:"Number_of_persons" %>
		<%= f.text_field :ingredients, placeholder:"Ingredients" %>
		<%= form.attachment_field :profile_image %>
		<%= f.submit :class => "btn" %>
		<% end %>
		<a href="/admin/food_recipes" class="btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
		</a>
	</div>
</div>
<!--
<select name="food_recipe[category_id]">
			<% Category.all.each do |cat| %>
			<option value="<%= cat.id %>"><%= cat.name %></option>
			<% end %>
</select>
		-->