<div class="container wrapper">
	<h1><%= @recipe.name %></h1>
	<p>Category:<%= @recipe.category_name %></p>
	<p>Origin: <%= @recipe.origin %></p>
	<p>Enough for: <%= @recipe.number_of_persons %></p>
	<p>Time required for preparation:<%= @recipe.preparation_time %></p>
	<p>Description: <%= @recipe.description %></p>
	<p>Ingredients: <%= @recipe.ingredients %></p>
	<p>Method<%= @recipe.method %></p>
</div>