<div class="container wrapper">
	<div id="title">
		<span>CATEGORY / FORMS</span>
		<%= image_tag('interface.png') %>
	</div>
	
	<div id="form-wrapper">
		<%= form_for([:admin, @category]) do |f|%>
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<%= f.submit :class => "btn" %>
		<% end %>
		<a href="/admin/categories" class="btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
		</a>
	</div>
</div>
