<head>
	<title>Admin Dashboard</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
</head>
<div class="row" id="index">
	<ul>
		<% @categories.each do |cat| %>
		<li><%= cat.name %>
			<%= link_to 'Edit', edit_admin_category_path(cat) %>
			<%= link_to 'Delete',admin_category_path(cat), method: :delete, data:{confirm:'Are you sure?'}%>
		</li>
		<% end %>
		<%= link_to 'New', new_admin_category_path %>
		<a href="/admin">Back to Panel</a>
	</ul>
</div>