<div class="container wrapper">
	<div id="title">
		<span>CATEGORY / ITEMS</span>
		<%= image_tag('items.png') %>
	</div>
	<% @categories.each do |cat| %>
	<div class="row">
		<div class="col-xs-2"><%= cat.name %></div>
		<div class="col-xs-4">
			<%= link_to 'Edit', edit_admin_category_path(cat) %>
			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			&emsp;&emsp;
			<%= link_to 'Delete',admin_category_path(cat), method: :delete, data:{confirm:'Are you sure?'}%>
			<i class="fa fa-times" aria-hidden="true"></i>
		</div>
	</div>
	<% end %>
	<%= link_to 'New', new_admin_category_path, {:class=> "btn"} %>
	<a href="/admin" class="btn">Back to Panel</a>
</div>