<head>
	<%= stylesheet_link_tag 'categories', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="container text_center">
	<%= form_for(@category) do |f|%>
	<div class="row">
	<div class="col-sm-12" id="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" id="btn">
			<%= f.submit :class=> 'btn btn-default' %>
		</div>
	</div>
	<% end %>
</div>