<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<nav class="navbar" id="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<span id="logo">WASFA</span>
				<i class="fa fa-bars"></i>
			</div>
			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li class="icon">
						<i class="fa fa-bell-o" aria-hidden="true"></i>
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</li>
					<li class="dropdown text-center" id="dropdown">
						<span>Admin's Name</span>
						<span class="caret"></span>
						<span><%= image_tag('profile.jpg')%></span>
						<ul class="dropdown-menu" id="admin-menu">
							<li class="li">Settings</li>
							<li class="li">Messages</li>
							<li>logout</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- sidebar -->
	<div class="sidenav" id="sidebar">
		<div id="home">
			<i class="fa fa-home" aria-hidden="true"></i>
			<a href="/admin">Dashboard</a>
			<hr>
		</div>
		<div class="collapsed menu" data-toggle="collapse" data-target="#catlinks">
			<span>Category</span>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
		<ul id="catlinks" class="collapse">
			<li><%= link_to 'All', admin_categories_path%></li>
			<li><%= link_to 'New', new_admin_category_path%></li>
		</ul>

		<div class="collapsed menu" data-toggle="collapse" data-target="#reclinks">
			<span>Recipe</span>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
		<ul id="reclinks" class="collapse">
			<li><%= link_to 'All', admin_food_recipes_path%></li>
			<li><%= link_to 'New', new_admin_food_recipe_path%></li>
		</ul>

		<div class="collapsed menu" data-toggle="collapse" data-target="#sitelinks">
			<span>My Site</span>
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
		<ul id="sitelinks" class="collapse">
			<li><a href="/" target="_blank">Home page</a></li>
			<li><a href="/categories" target="_blank">Categories</a></li>
			<li><a href="food_recipes" target="_blank">Recipes</a></li>
			<li><a href="about" target="_blank">About</a></li>
			<li><a href="secrets" target="_blank">Kitchen Secrets</a></li>
		</ul>
	</div>
	<%= yield %>
</body>
</html>