<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<% if user_signed_in? %>
				<strong><%= current_user.username %></strong>
				<%= link_to "log out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% end %>
			</div>
		</div>
		<div class="sidenav">
			<%= link_to 'Categories', admin_categories_path%>
			<%= link_to 'Recipes', admin_food_recipes_path%>
			<a data-toggle="collapse" data-target="#links">My Site</a>
			<ul id="links" class="collapse">
				<li><a href="/" target="_blank">home</a></li>
				<li><a href="/categories" target="_blank">categories</a></li>
				<li><a href="food_recipes" target="_blank">recipes</a></li>
				<li><a href="about" target="_blank">about</a></li>
				<li><a href="secrets" target="_blank">kitchen secrets</a></li>
			</ul>
		</div>
		<%= yield %>
	</div>
</body>
</html>