<!DOCTYPE html>
<html>
<head>
	<title>Recipe</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/css?family=Eagle+Lake|Caveat" rel="stylesheet">
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<div class="row">
		<div id="logo" class="col-xs-9">
			<h1>
				Wasfa
			</h1>
			<%= image_tag('Soup-icon.png') %>
		</div>
		<div class="col-xs-3" id="user">
			<% if user_signed_in? %>
			Logged in as <strong><%= current_user.email %></strong>.
			<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
			<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top custom-header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="navbar-links">
				<ul class="nav navbar-nav">
					<li><%= link_to 'Home', root_path %></a></li>
					<li class="dropdown">
						<a href="categories">Categories
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<% Category.all.each do |cat| %>
							<li><a><%= cat.name %></a></li>
							<% end %>
						</ul>
					</li>
					<li><%= link_to 'recipes', food_recipes_path %></a></li>
					<li><%= link_to 'About', about_path %></li>
					<li><%= link_to 'Kitchen Secrets', secrets_path %></li>
				</ul>
			</div>
		</div>
	</nav>
	<%= yield %>
	<footer>
		<div class="container">
			<div class="row text-center">
				<p>&copy;2017 copyrights.| Proudly created by Goory&Fatima</p>
			</div>
		</div>
	</footer>
</body>
</html>
