<!DOCTYPE html>
<html>
<head>
	<title>Recipe</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
		<h1>
			Wasfa
		</h1>
	<nav class="navbar navbar-default navbar-fixed-top custom-header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="navbar-links">
				<ul class="nav navbar-nav">
					<li><%= link_to 'Home', root_path %></a></li>
					<li><%= link_to 'Ctegories', categories_path %></a></li>
					<li><%= link_to 'recipes', food_recipes_path %></a></li>
					<li><%= link_to 'About', about_path %></li>
					<li><%= link_to 'Kitchen Secrets', secrets_path %></li>
				</ul>
			</div>
		</div>
	</nav>
	<%= yield %>
</body>
</html>
