<!DOCTYPE html>
<html>
<head>
	<title>Wasfa</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
	<link href="https://fonts.googleapis.com/css?family=Quicksand|Caveat|Josefin+Sans" rel="stylesheet">
	
</head>
<body>
	<div class="container">
		<nav class="row" id="upper-nav">
			<div class="col-xs-8" id="logo">
				<div class="row">
					<div class="col-xs-2">
						<span>Wasfa</span>
					</div>
					<div class="col-xs-1">
						<%= image_tag('broth.png') %>
					</div>
				</div>
			</div>
			<div class="col-xs-4" id="user">
				<% if user_signed_in? %>
				<%= current_user.username %>
				<i class="fa fa-cog" aria-hidden="true" id="gear"></i>
				<ul class="dropdown-menu" id="settings">
					<li><%= link_to "My Profile", edit_user_path(current_user) %></li>
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
				</ul>
				<% else %>
				<%= link_to "Sign up", new_user_registration_path%>
				&nbsp;
				<span>|</span>&nbsp;
				<%= link_to "Login", new_user_session_path %>
				<% end %>
			</div>
		</nav>
		<!-- lower navigation -->
		<nav class="navbar" id="lower-nav">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbar-links">
					<ul class="nav navbar-nav col-xs-10">
						<li><%= link_to 'Home', root_path %></li>
						<li class="dropdown">
							<a href="categories">Categories
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<% Category.all.each do |cat| %>
								<li>
									<a href="/categories/<%= cat.id%>"><%= cat.name %>
									</a>
								</li>
								<% end %>
							</ul>
						</li>
						<li><%= link_to 'recipes', food_recipes_path %></li>
						<li><%= link_to 'About', about_path %></li>
						<li><%= link_to 'Kitchen Secrets', secrets_path %></li>
					</ul>
					<ul class="list-inline col-xs-2" id="social">
						<li>
							<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<%= yield %>
	</div>
	<footer>
		<div class="container">
			<div class="row text-center">
				<p>&copy;2017 copyrights.| Proudly created by Goory Hamed</p>
			</div>
		</div>
	</footer>
	<%= javascript_include_tag 'users' %>
</body>
</html>
